/* adding custom properties  */
:root{
    --Font: "Open Sans", sans-serif;
    --Font-2:"Verdana";
    --lightred: #ff6961;
    --lightgreen: #77dd77;
    --lightblue: #06aed5;
    --white: #ffffff;
    --lightGray: #d3d3d3;
    --black: #000000;
   }

  * {
    padding: 0px; 
  }

body {
  font-family:var(--Font-2);
  line-height:1;
  font-size: 16px;
  }
  
  .textarea {
    background: var(--lightGray);
    border: none;
    resize: none;
    color: var(--black);
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--white);
    margin: 0em;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    /* padding: 5px;
    height: 75px;
    width: 90%;
     */
  }

  input{
    text-align:center;
 }
  /* A jumbotron indicates a big box for calling extra attention to some information. https://getbootstrap.com/docs/4.0/components/jumbotron/ */
  .jumbotron {
    background-color:var(--lightred);
    border-radius: 0;
    border-bottom: 10px solid var(--black);
    color: var(--black);
    text-align: center;
    /* line-height: 1.5px;  */
    font-family: var(--Font-2);
    width: 100%;
  }
  /* end of Jumbotron styling */

   .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align:center;
    border-radius: 15px;

  }

  .row {
    border-top: 1px solid var(--white);
    white-space: pre-wrap;
    height:80px ;
 }
  
  .hour {

    background-color: var(--lightblue);
    color:var(--black);
    border-top: 1px dashed var(--black);
    border-right: 1px solid var(--black);
    margin:0px;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    vertical-align: middle;
  }

  
    .past {
    background-color:var(--lightGray);
    color: var(--white);
  }
  
  .present {
    background-color: var(--lightred);
    color: var(--white);
  }
  
  .future {
    background-color: var(--lightgreen);
    color: var(--white);
  }
  
  .saveBtn {
   
    text-align: center;
    cursor:pointer;
    margin-bottom: 0px;
    height: 5em;
    width: 5.8em;
    border-left: 1px solid var(--black);
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    background-color: var(--lightblue);
    color: var(--white);
   
   
  }
  
  
  .saveBtn:hover {
    font-size:20px;
    transition: all 0.3s ease-in-out;
  }



   /* adjusting textarea size based on screen size */

  @media screen and (max-width: 1200px) {
    .textarea {
      width: 620px;
    }
   }
  @media screen and (max-width: 978px) {
    .textarea {
      width: 460px;
    }
   }
   @media screen and (max-width: 765px) {
    .textarea {
      width: 375px;
    }
   }
   @media screen and (max-width: 467px) {
     .textarea {
       width: 300px;
     }
    }
    @media screen and (max-width: 376px) {
     .textarea {
       width: 250px;
     }
  
    } 
 